.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    color: white; 
    background-color: transparent;
    transition: background-color 0.3s ease; 
    padding-left: 40px;
    padding-right: 40px;
}

.navbar.solid-background {
    background-color: rgba(0, 128, 0, 1); 
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h15M4 23h22'/%3e%3c/svg%3e");
}

.navbar .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .navbar-toggler{
    border-color: transparent;
    color: transparent;
}

.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
}