<nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Shidiet</a>
      <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white active" routerLink="/gizi">Info Gizi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link about text-white" routerLink="/about">About Us</a>
            </li>
        </ul>
      </div>
    </div>
</nav>
<div class="blog-card-body">
    <div class="blog-image">
      <img src="../../../../assets/calory.jpg" alt="Gambar Blog">
    </div>
    <div class="blog-content">
      <h2 class="blog-title">Kalori Terkendali Tubuh Lebih Harmoni</h2>
      <div class="blog-text">
        <p>
            Dalam perjalanan menuju kesehatan dan keseimbangan tubuh, mengendalikan asupan kalori merupakan langkah yang krusial. Dengan mengatur kalori dengan bijak, tubuh dapat mencapai harmoni yang lebih baik dan meningkatkan kualitas hidup secara keseluruhan. Berikut adalah tiga poin penting mengenai pentingnya mengendalikan kalori bagi kesehatan tubuh:
        </p>
    
        <ol>
            <li>
                <strong>Mencapai Berat Badan Ideal:</strong> Mengendalikan asupan kalori adalah kunci untuk mencapai dan mempertahankan berat badan ideal. Ketika tubuh menerima jumlah kalori yang sesuai dengan kebutuhannya, proses penambahan berat badan yang tidak diinginkan dapat dicegah. Dengan demikian, mengontrol kalori membantu mencegah masalah kelebihan berat badan dan obesitas, yang seringkali menjadi faktor risiko bagi berbagai penyakit kronis seperti diabetes, penyakit jantung, dan tekanan darah tinggi.
            </li>
            <li>
                <strong>Energi Optimal:</strong> Tubuh membutuhkan energi untuk menjalankan fungsi-fungsinya sehari-hari, mulai dari aktivitas fisik hingga pemeliharaan organ-organ vital. Dengan mengatur asupan kalori secara tepat, tubuh akan menerima energi yang cukup untuk menjalankan aktivitas tanpa kelebihan atau kekurangan. Hal ini memastikan bahwa tubuh tetap bertenaga dan mampu berfungsi secara optimal, sehingga meningkatkan produktivitas dan kualitas hidup secara keseluruhan.
            </li>
            <li>
                <strong>Keseimbangan Gizi:</strong> Mengendalikan kalori juga memungkinkan seseorang untuk lebih memperhatikan keseimbangan gizi dalam pola makan mereka. Dengan fokus pada kualitas kalori yang dikonsumsi, seperti memilih makanan yang kaya akan nutrisi dan rendah lemak jenuh serta gula tambahan, seseorang dapat meningkatkan asupan nutrisi penting seperti vitamin, mineral, serat, dan protein. Keseimbangan gizi yang baik merupakan pondasi bagi kesehatan tubuh secara keseluruhan, membantu menjaga fungsi sistem kekebalan tubuh, metabolisme, dan kesehatan organ-organ dalam.
            </li>
        </ol>
    
        <p>
            Mengendalikan kalori bukanlah sekadar tentang penampilan fisik, tetapi juga tentang menciptakan fondasi kesehatan yang kokoh bagi tubuh. Dengan menghargai pentingnya mengatur asupan kalori, seseorang dapat mencapai harmoni dalam kesehatan dan menjalani kehidupan yang lebih bugar dan berkualitas.
        </p>
    </div>
    </div>
  </div>
  