.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    color: white; 
    background-color: rgba(0, 128, 0, 1);
    transition: background-color 0.3s ease; 
    padding-left: 40px;
    padding-right: 40px;
}

.navbar.solid-background {
    background-color: rgba(0, 128, 0, 1); 
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h15M4 23h22'/%3e%3c/svg%3e");
}

.navbar .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .navbar-toggler{
    border-color: transparent;
    color: transparent;
}

.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
}

.section1{
    height: 700px;
    margin-top: 90px;
}

.section-fisrt{
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section-fisrt-two{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
}

.section1 h2 {
    color: black;
    text-align: center;
}

.section1 p{
    text-align: left;
    margin-left: 40px;
}

.section1 img{
    border-radius: 100%;
}

@media (max-width: 768px) {

    .section1{
        height: 900px;
    }

    .section-fisrt-two {
        flex-direction: column; 
        align-items: center; 
        margin-bottom: auto;
    }

    .section-fisrt-two p {
        font-size: 0.9rem; 
        margin-top: 20px;
    }

    .section-fisrt h2 {
        font-size: 1.3rem; 
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-first h2 {
    animation: fadeInFromTop 1s ease-out;
}

.section-fisrt-two p {
    animation: fadeInFromRight 1s ease-out;
}

.section-fisrt-two img {
    animation: fadeInFromLeft 1s ease-out;
}
