<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Shidiet</a>
      <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/gizi">Edukasi Gizi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active about text-white" routerLink="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/hubungi-kami">Hubungi Kami</a>
            </li>
        </ul>
      </div>
    </div>
</nav>
<section class="section1">
    <div class="section-first"> 
        <h2 style="color: black;">Menjadi Lebih Sehat dengan SHIDIET</h2>
    </div>
    <div class="section-fisrt-two"> 
        <img src="../../../assets/noodle.jpg" height="350px" width="350px">
        <p>
            1. Mulailah gaya hidup sehat dengan memperhatikan apa yang Anda konsumsi. Coba SHIDIET Instan Noodle sebagai alternatif mie rendah kalori untuk mendukung perjalanan kesehatan Anda.<br>
            2. Keseimbangan nutrisi dan konsumsilah makanan rendah kalori seperti SHIDIET Instan Noodle. Dengan begitu, Anda bisa tetap menikmati makanan enak tanpa khawatir mengganggu perjalanan menuju kehidupan yang lebih sehat.<br>
            3. Saatnya mengubah pola makan Anda dengan memilih produk yang mendukung kesehatan. Pilih SHIDIET Instan Noodle sebagai pilihan mie instan rendah kalori yang cocok untuk mewujudkan gaya hidup sehat Anda.<br>
        </p>
    </div>
</section>


