<nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Shidiet</a>
      <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white active" routerLink="/gizi">Edukasi Gizi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link about text-white" routerLink="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/hubungi-kami">Hubungi Kami</a>
            </li>
        </ul>
      </div>
    </div>
</nav>
<div class="blog-card-body">
    <div class="blog-image">
      <img src="../../../../assets/rice.jpg" alt="Gambar Blog">
    </div>
    <div class="blog-content">
        <h2 class="blog-title">Karbohidrat Kaya, Hidup Lebih Bahagia</h2>
        <div class="blog-text">
            <p>
                Karbohidrat seringkali mendapat reputasi buruk dalam dunia diet, tetapi sebenarnya karbohidrat adalah sumber energi utama bagi tubuh manusia. Saat dikonsumsi dengan bijak, karbohidrat kaya dapat meningkatkan suasana hati, memberikan energi yang stabil, dan membantu menjaga kesehatan secara keseluruhan.
            </p>
        
            <ol>
                <li>
                    <strong>Sumber Energi Utama:</strong> Karbohidrat adalah bahan bakar utama bagi otak dan otot. Saat dicerna, karbohidrat diubah menjadi glukosa, yang merupakan sumber energi langsung untuk tubuh. Konsumsi karbohidrat yang cukup membantu menjaga tingkat energi yang stabil sepanjang hari.
                </li>
                <li>
                    <strong>Meningkatkan Suasana Hati:</strong> Karbohidrat dapat meningkatkan produksi serotonin dalam otak, yaitu zat kimia yang bertanggung jawab untuk perasaan bahagia dan relaksasi. Konsumsi karbohidrat kompleks, seperti roti gandum dan sereal, dapat membantu meningkatkan suasana hati dan mengurangi stres.
                </li>
                <li>
                    <strong>Menjaga Kesehatan:</strong> Karbohidrat kaya seringkali merupakan sumber serat yang baik, terutama jika berasal dari biji-bijian utuh, sayuran, dan buah-buahan. Serat membantu menjaga kesehatan pencernaan, mengatur kadar gula darah, dan menurunkan risiko penyakit jantung dan diabetes tipe 2.
                </li>
            </ol>
        
            <p>
                Jadi, jangan takut untuk memasukkan karbohidrat kaya dalam pola makan sehari-hari Anda. Dengan memilih sumber karbohidrat yang tepat dan mengonsumsinya dengan bijak, Anda dapat meningkatkan kesehatan secara keseluruhan dan merasa lebih bahagia dalam hidup Anda.
            </p>
        </div>
    </div>
  </div>