<div class="video-background">
    <video autoplay loop muted>
        <source src="../../../assets/homebg.mp4" type="video/mp4">
    </video>
    <div class="green-layer">
        <div class="content">
            <h2>SHIDIET: Instant Noodle</h2>
            <p>Formulasi Mie Tepung Porang, Kacang Kedelai, dan Batang Semu Pisang sebagai Produk sebagai Alternatif Produk Diet Untuk Penderita Obesitas</p>
            <button class="whatsapp-button">
                <a href="https://wa.me/62895326120629?text=Saya%20mau%20pesan%20Shidiet">Pesan Sekarang</a>
            </button>
        </div>
        <app-header></app-header>
    </div>
</div>
<section class="section1">
    <h4 style="margin-bottom: 40px; color: rgba(0, 128, 0, 0.9); text-align: center;">Keunggulan Produk SHIDIET</h4>
        <div class="container">
            <div #carousel1 id="testimonials1" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row justify-content-center">
                    <div class="col-md-6 mb-6">
                      <div class="quotes mx-auto">
                        <p>1. Rendah Kalori: SHIDIET Instant Noodle menawarkan pilihan mie instant rendah kalori yang cocok untuk penderita obesitas, memberikan rasa kenyang lebih lama dengan kandungan kalori yang terkontrol.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row justify-content-center">
                    <div class="col-md-6 mb-6">
                      <div class="quotes">
                        <p>2. Kandungan Serat Tinggi: Dengan kombinasi tepung porang dan batang semu pisang, produk ini kaya akan serat yang membantu pencernaan dan menjaga kadar gula darah stabil, menjadikannya pilihan sehat bagi konsumen yang peduli akan kesehatan.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-center">
                      <div class="col-md-6 mb-6">
                        <div class="quotes">
                          <p>3. Kaya Akan Protein Nabati: Dengan tambahan kacang kedelai, SHIDIET Instant Noodle memberikan sumber protein nabati yang tinggi, membantu memenuhi kebutuhan protein harian tanpa penambahan lemak berlebih.</p>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-center">
                      <div class="col-md-6 mb-6">
                        <div class="quotes">
                          <p>4. Alternatif Makanan Fungsional: Produk ini tidak hanya mengurangi risiko obesitas, tetapi juga memberikan opsi makanan fungsional dengan nutrisi yang seimbang, mendukung gaya hidup sehat secara menyeluruh.</p>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-center">
                      <div class="col-md-6 mb-6">
                        <div class="quotes">
                          <p>5. Berbasis Bahan Lokal: Menggunakan bahan-bahan lokal seperti umbi porang dan batang semu pisang, SHIDIET Instant Noodle mendukung ekonomi lokal sambil memberikan solusi untuk masalah kesehatan yang mendesak.</p>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#testimonials1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next"  type="button" data-bs-target="#testimonials1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
</section>
<section class="section2">
    <h4 style="margin-bottom: 40px; color: rgba(0, 128, 0, 0.9); text-align: center;">Bahan Baku SHIDIET</h4>
    <div class="container">
        <div #carousel2 id="testimonials2" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row justify-content-center">
                <div class="col-md-6 mb-6">
                  <div class="quotes2">
                    <img src="../../../assets/umbi-porang.jpg" width="250px" height="180px">
                    <p style="color: green;">Umbi Porang</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row justify-content-center">
                <div class="col-md-6 mb-6">
                  <div class="quotes2">
                    <img src="../../../assets/kacang-kedelai.jpg" width="250px" height="180px">
                    <p style="color: green;">Kacang Kedelai</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                  <div class="col-md-6 mb-6">
                    <div class="quotes2">
                        <img src="../../../assets/batang-pisang.jpg" width="250px" height="180px">
                        <p style="color: green;">Batang Pisang Semu</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#testimonials2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next"  type="button" data-bs-target="#testimonials2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
</section>
<section class="section3">
  <h4 style="margin-bottom: 40px; color: rgba(0, 128, 0, 0.9); text-align: center;">Produk SHIDIET</h4>
  <div class="container">
      <div class="row">
          <div class="col-md-4 mb-4">
              <img src="../../../assets/depan.png" class="img-fluid" alt="Product 1">
          </div>
          <div class="col-md-4 mb-4">
              <img src="../../../assets/kiri.png" class="img-fluid" alt="Product 2">
          </div>
          <div class="col-md-4 mb-4">
              <img src="../../../assets/belakang.jpg" class="img-fluid" alt="Product 3">
          </div>
      </div>
  </div>
</section>
