<nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Shidiet</a>
      <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white active" routerLink="/gizi">Edukasi Gizi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link about text-white" routerLink="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/hubungi-kami">Hubungi Kami</a>
            </li>
        </ul>
      </div>
    </div>
</nav>
<div class="blog-card-body">
    <div class="blog-image">
      <img src="../../../../assets/fat.jpg" alt="Gambar Blog">
    </div>
    <div class="blog-content">
      <h2 class="blog-title">Lemak Sehat Tubuh Kuat</h2>
      <div class="blog-text">
        <p>
            Lemak sering dianggap sebagai musuh dalam upaya menjaga kesehatan tubuh. Namun, penting untuk memahami bahwa tidak semua lemak diciptakan sama. Ada jenis lemak yang diperlukan oleh tubuh untuk fungsi-fungsi penting dan bahkan dapat mendukung kesehatan dan kekuatan tubuh.
        </p>
    
        <ol>
            <li>
                <strong>Lemak Tak Jenuh Ganda (Omega-3 dan Omega-6):</strong> Jenis lemak ini ditemukan dalam makanan seperti ikan berlemak, kacang-kacangan, dan minyak zaitun. Lemak tak jenuh ganda adalah komponen penting dalam memelihara kesehatan jantung dan otak. Omega-3, misalnya, terkenal akan manfaatnya dalam mengurangi risiko penyakit jantung dan meningkatkan fungsi otak.
            </li>
            <li>
                <strong>Lemak Monojenuh (Omega-9):</strong> Lemak ini ditemukan dalam minyak zaitun, kacang-kacangan, alpukat, dan biji-bijian. Lemak mono tak jenuh dapat membantu meningkatkan kadar kolesterol baik (HDL) dan mengurangi risiko penyakit jantung. Selain itu, mereka juga penting untuk menjaga keseimbangan hormon dan fungsi sel dalam tubuh.
            </li>
            <li>
                <strong>Lemak Jenuh dalam Jumlah Terbatas:</strong> Sementara lemak jenuh harus dibatasi dalam pola makan sehat, beberapa makanan sumber lemak jenuh seperti kelapa dan alpukat dapat memberikan manfaat kesehatan ketika dikonsumsi dalam jumlah yang tepat. Misalnya, lemak dari kelapa dapat membantu meningkatkan kadar kolesterol baik dan memberikan energi yang stabil.
            </li>
        </ol>
    
        <p>
            Menggabungkan lemak sehat ke dalam pola makan sehari-hari adalah langkah penting dalam menjaga kesehatan dan kekuatan tubuh. Jadi, jangan takut untuk memasukkan makanan sumber lemak sehat ke dalam menu harian Anda.
        </p>
    </div>
    </div>
  </div>