<nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Shidiet</a>
      <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white active" routerLink="/gizi">Edukasi Gizi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link about text-white" routerLink="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/hubungi-kami">Hubungi Kami</a>
            </li>
        </ul>
      </div>
    </div>
</nav>
<div class="blog-card-body">
    <div class="blog-image">
      <img src="../../../../assets/noodle.jpg" alt="Gambar Blog">
    </div>
    <div class="blog-content">
      <h2 class="blog-title">Fungsi Produk Shidiet</h2>
      <div class="blog-text">
        <p>
            Produk Shidiet dirancang dengan berbagai manfaat untuk mendukung gaya hidup sehat. Berikut adalah beberapa fungsi utama dari produk Shidiet yang kaya karbohidrat, kaya serat, dan rendah kalori:
        </p>
    
        <ul>
            <li>
                <strong>Menyediakan Energi yang Stabil:</strong> Produk Shidiet yang kaya karbohidrat menyediakan sumber energi yang cukup untuk menjaga tingkat energi yang stabil sepanjang hari. Karbohidrat kompleks dalam produk ini dipecah perlahan dalam tubuh, memberikan pasokan energi yang berkepanjangan tanpa menyebabkan lonjakan gula darah yang tiba-tiba.
            </li>
            <li>
                <strong>Mendukung Kesehatan Pencernaan:</strong> Kandungan serat tinggi dalam produk Shidiet membantu menjaga kesehatan pencernaan. Serat membantu meningkatkan gerakan usus dan mencegah sembelit, serta membantu merasa kenyang lebih lama, yang dapat mengurangi keinginan untuk makan berlebihan.
            </li>
            <li>
                <strong>Menjadi Pilihan yang Rendah Kalori:</strong> Produk Shidiet dirancang untuk memiliki kandungan kalori yang rendah, menjadikannya pilihan yang tepat untuk mereka yang ingin mengontrol asupan kalori. Dengan mengonsumsi produk Shidiet, Anda dapat merasa kenyang tanpa khawatir mengkonsumsi terlalu banyak kalori, sehingga membantu dalam proses penurunan berat badan atau pemeliharaan berat badan yang sehat.
            </li>
            <li>
                <strong>Memudahkan Pola Makan Sehat:</strong> Dengan menggabungkan karbohidrat, serat, dan kalori yang seimbang, produk Shidiet dapat menjadi bagian penting dari pola makan sehat Anda. Produk ini dirancang untuk memberikan nutrisi yang dibutuhkan tubuh tanpa memberikan beban kalori yang berlebihan, sehingga membantu Anda mencapai dan mempertahankan berat badan yang ideal.
            </li>
        </ul>
    
        <p>
            Dengan menggunakan produk Shidiet yang kaya karbohidrat, kaya serat, dan rendah kalori, Anda dapat mendukung upaya Anda untuk mencapai gaya hidup sehat dan menjaga kesehatan tubuh Anda.
        </p>
    </div>
    </div>
  </div>