<nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Shidiet</a>
      <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white active" routerLink="/gizi">Edukasi Gizi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link about text-white" routerLink="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/hubungi-kami">Hubungi Kami</a>
            </li>
        </ul>
      </div>
    </div>
</nav>
<div class="blog-card-body">
    <div class="blog-image">
      <img src="../../../../assets/fruit.jpg" alt="Gambar Blog">
    </div>
    <div class="blog-content">
      <h2 class="blog-title">Hidup Sehat Butuh Serat</h2>
      <div class="blog-text">
        <p>
            Kesehatan tubuh merupakan investasi berharga yang perlu diperhatikan dengan baik. Salah satu kunci utama untuk menjaga kesehatan adalah dengan mengonsumsi makanan yang kaya serat. Serat adalah komponen penting dalam pola makan yang seimbang, dan memiliki beragam manfaat bagi kesehatan tubuh.
        </p>
    
        <ol>
            <li>
                <strong>Melancarkan Pencernaan:</strong> Serat membantu meningkatkan kesehatan pencernaan dengan mempercepat proses pencernaan makanan. Dengan mengonsumsi makanan yang kaya serat, seperti buah-buahan, sayuran, dan biji-bijian, Anda dapat mencegah sembelit dan memperbaiki kualitas pencernaan secara keseluruhan.
            </li>
            <li>
                <strong>Mengendalikan Berat Badan:</strong> Serat dapat membantu Anda merasa kenyang lebih lama, sehingga mengurangi keinginan untuk makan berlebihan. Ini dapat membantu Anda mengendalikan berat badan atau bahkan membantu dalam proses penurunan berat badan jika itu yang Anda tuju.
            </li>
            <li>
                <strong>Mencegah Penyakit Kronis:</strong> Konsumsi serat yang cukup terbukti dapat mengurangi risiko penyakit kronis seperti penyakit jantung, diabetes tipe 2, dan kanker usus. Serat membantu menurunkan kadar kolesterol dalam darah dan menjaga kadar gula darah tetap stabil, yang merupakan faktor risiko utama untuk penyakit-penyakit tersebut.
            </li>
        </ol>
    
        <p>
            Dengan memasukkan makanan yang kaya serat ke dalam pola makan sehari-hari, Anda dapat meningkatkan kesehatan secara keseluruhan dan meningkatkan kualitas hidup Anda. Oleh karena itu, jangan lupakan pentingnya serat dalam menjaga hidup sehat Anda.
        </p>
    </div>
    </div>
  </div>